<form action="/add" method="post">
  <label for="title">
    Title:
    <input type="text" name="title">
  </label>
  <label for="diary_entry">
    Diary Entry:
    <input type="text" name="diary_entry">
  </label>
  <input type="submit" value="Submit">
